  <!DOCTYPE html>
  <html>
  <head>
    <title>BarberShop | Minsk</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

    <div class="header">
      <h1 class="header_text">Welcome to Barber Shop</h1>
    </div>

    <div class="content_container">
      <div class="submit_form">
        <form action="/" method="POST">
          <label><b>ФИО: </b></label><br>
          <input type="text" name="user_name"><br><br>

          <label><b>Телефон: </b></label><br>
          <input type="text" name="user_phone"><br><br>

          <label><b>Дата: </b></label><br>
          <input type="text" name="date_time"><br><br>

          <input type="submit" name="submit" class="btn btn-primary">
        </form>
      </div>
    </div>

</body>
</html>
